<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">الانتدابات والاجازات</h3>
      </header>
      <form class="form-row task-form service-form">
        <div class="col-md-4">
          <label for="">نوع الطلب</label>
          <select name="" id="">
            <option>اجازة</option>
            <option>انتداب</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="">تاريخ البداية</label>
          <input type="date" name="" id="">
        </div>
        <div class="col-md-2 text-center">
          <input class="btn btn-primary" type="submit" value="استعلام">
        </div>
      </form>
      <div class="new-links">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>


    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
