<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8" style="background-color:#dcdde1;">
      <section class="main-content text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 my-4" *ngIf="privtestTasks">
              <div class="link-box">
                <a [routerLink]="['/main-tasks']">
                  <span class="d-block"><i class="fa fa-tasks fa-3x"></i></span>
                  <h4>إدارة المهام</h4>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 my-4" *ngIf="privtestfinance">
              <div class="link-box">
                <a [routerLink]="['/main-finance-page']">
                  <span class="d-block"><i class="fa fa-coins fa-3x"></i></span>
                  <h4>المالية</h4>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 my-4" *ngIf="privtesttransaction">
              <div class="link-box">
                <a href="" [routerLink]="['/mailing']">
                  <span class="d-block"><i class="fa fa-mail-bulk fa-3x"></i></span>
                  <h4>المراسلات</h4>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
              <div class="link-box">
                <a href="">
                  <span class="d-block"><i class="fa fa-clipboard-list fa-3x"></i></span>
                  <h4>الفعاليات</h4>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
              <div class="link-box">
                <a href="" [routerLink]="['/users-list']">
                  <span class="d-block"><i class="fa fa-users fa-3x"></i></span>
                  <h4>الموظفين</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div><!-- End col-9 -->
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
