
<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
    
      <header>
        <h2 class="task-head">تفاصيل المهمة</h2>
        <span class="completed">الحالة : منجزة</span>
      </header>
      <div class="task-details">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <span class="label">رقم المهمة</span>
              <span class="num-task">0012</span>
            </div>
            <div class="col-6">
              <span class="label">التاريخ</span>
              <span>25/06/1441</span>
            </div>
            <div class="col-6">
              <span class="label">الموضوع</span>
              <span>تجهيز إعلان محاضرة</span>
            </div>
            <div class="col-6">
              <span class="label">مدة التنفيذ</span>
              <span>3 أيام </span>
            </div>
            <div class="col-6">
              <span class="label">جهة الطلب</span>
              <span>عبد الكريم صديق</span>
            </div>
            <div class="col-6">
              <span class="label">الموظف</span>
              <span>أشرف ملاكدي</span>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <span class="label">التفاصيل</span>
            </div>
            <div class="col-md-6">
              <span>
                طباعة 20 نسخة ملونة من إعلان محاضرة الشيخ محمد شامي وتختيمها من مكتب الأوقاف
              </span>
            </div>
            <div class="col-12">
              <span class="label">المرفقات</span>
              <div class="file-links">
                <a href="#"><i class="fa fa-file-word fa-2x"></i></a>
                <a href="#"><i class="fa fa-file-pdf fa-2x"></i></a>
                <a href="#"><i class="fa fa-table fa-2x"></i></a>
              </div>
            </div>
            <div class="col-12 text-right">
              <a href="#" class="btn complete-btn">
                <i class="fa fa-star"></i>
                تقييم
              </a>

              <div>
                <label class="d-block">
                  <input type="checkbox" name="value">
                  إنجاز جميع عناصر المهمة
                </label>
                <label class="d-block">
                  <input type="checkbox" name="value">
                  الإنجاز في الوقت المحدد
                </label>
                <label class="d-block">
                  <input type="checkbox" name="value">
                  سرعة التفاعل والرد
                </label>
                <label class="d-block">
                  <input type="checkbox" name="value">
                  جودة العمل
                </label>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div><!-- End col-9 -->

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
