<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <!-- Second Navbar -->
      <app-menu-finance></app-menu-finance>
      <!-- Tasks Page Content -->
      <section class="page-content">
        <h4 class="my-2 task-head">تسجيل وقف</h4>
        <form class="task-form form-row stop-form" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <input type="hidden" name="id" [value]="dotationService.formData.id" />
          <div class="col-sm-6">
            <label for="stop-name"><span><i class="fa fa-sort-numeric-down"></i></span>اسم الوقف</label>
            <input type="text" id="stop-name" name="nom" #nom="ngModel" [(ngModel)]="dotation.nom" required />

            <div *ngIf="nom.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">


              مطلوب اسم.

            </div>
          </div>
          <div class="col-sm-6">
            <label for="stop-date"><span><i class="fa fa-calendar-alt"></i></span>تاريخ الانشاء </label>
            <input type="date" id="stop-date" name="date" #date="ngModel" [(ngModel)]="dotation.date" required>
            <div *ngIf="date.errors?.required && form.submitted && !isValidFormSubmitted" class="alert alert-danger">


              مطلوب تاريخ الانشاء.

            </div>
          </div>

          <div class="col-sm-6">
            <label for="stop-sort"><span><i class="fa fa-list-ol"></i></span>نوع الوقف</label>
            <select id="stop-sort" name="type" #type="ngModel" [(ngModel)]="dotation.type" required>
              <option [ngValue]="undefined" selected disabled>-نوع الوقف-</option>
              <option *ngFor="let item of types" value="{{item.nom}}">{{item.nom}}</option>
            </select>
            <div *ngIf="type.invalid && form.submitted && !isValidFormSubmitted" class="alert alert-danger">
              مطلوب نوع الوقف.
            </div>
          </div>
          <div class="col-sm-6">
            <label for="stop-status"><span><i class="fa fa-list-ol"></i></span>حالة الوقف</label>
            <select id="stop-status" name="etat" #etat="ngModel" [(ngModel)]="dotation.etat">
              <option [ngValue]="undefined" selected disabled>-حالة الوقف-</option>
              <option *ngFor="let item of etats" value="{{item.nom}}">{{item.nom}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="stop-address"><span><i class="fa fa-map-marker-alt"></i></span>عنوان الوقف</label>
            <input type="text" id="stop-address" class="" name="adresse" #adresse="ngModel" [(ngModel)]="dotation.adresse">
          </div>
          <div class="col-sm-6">
            <label for="stop-units"><span><i class="fa fa-home"></i></span>عدد الوحدات</label>
            <input type="text" id="stop-units" class="" name="nbunite" #nbunite="ngModel" [(ngModel)]="dotation.nbunite">
          </div>
          <div class="col-sm-6">
            <label for="stop-counters"><span><i class="fa fa-bolt"></i></span>عداد الكهرباء</label>
            <input type="text" id="stop-counters" class="" name="compteurElec" #compteurElec="ngModel" [(ngModel)]="dotation.compteurElec">

          </div>
          <div class="col-sm-6">
            <label for="counter-num"><span><i class="fa fa-tint"></i></span>عداد الماء</label>
            <input type="text" id="counter-num" class="" name="attribut2" #attribut2="ngModel" [(ngModel)]="dotation.attribut2">
          </div>
          <div class="col-sm-6">
            <label for="stop-taker"><span><i class="fa fa-user"></i></span>محصل الوقف</label>
            <select id="stop-status" name="comptable" #comptable="ngModel" [(ngModel)]="dotation.comptable">
              <option [ngValue]="undefined" selected disabled>-محصل الوقف-</option>
              <option *ngFor="let item of user" value="{{item.fullName}}">{{item.fullName}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="stop-office"><span><i class="fa fa-home"></i></span>مكتب الوقف</label>
            <select id="stop-status" name="idAgence" #idAgence="ngModel" [(ngModel)]="dotation.idAgence">
              <option [ngValue]="undefined" selected disabled>-مكتب الوقف-</option>
              <option *ngFor="let item of agence" value="{{item.id}}">{{item.nom}}</option>
            </select>
          </div>
          <div class="mx-auto my-3">
            <button class="btn btn-primary px-2 ml-3" type="submit"><span class="ml-4"><i class="fa fa-save"></i></span> حفظ</button>
            <button class="btn btn-danger px-2 ml-3" type="reset"><span class="ml-4"><i class="fa fa-trash"></i></span>حذف الحقول</button>
            <button class="btn btn-secondary px-2" (click)="openPDF()" type="button"><span class="ml-4"><i class="fa fa-print"></i></span> طباعة</button>
          </div>
        </form>
      </section>
    </div><!-- End col-9 -->

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
<div class="content" id="htmlData" style="display: none;">
  <section class="page-content">
    <h4 class="my-2 task-head">بيانات وحدة مسجلة</h4>

    <div class="task-form form-row stop-form">

      <div class="col-sm-6">
        <label><span></span>اسم الوقف</label>
        <span>{{Cdotation.nom}}</span>
      </div>
      <div class="col-sm-6">
        <label><span></span>تاريخ الانشاء </label>
        <span>{{Cdotation.date}}</span>
      </div>

      <div class="col-sm-6">
        <label><span></span>نوع الوقف</label>
        <span>{{Cdotation.type}}</span>
      </div>
      <div class="col-sm-6">
        <label><span></span>حالة الوقف</label>
        <span>{{Cdotation.etat}}</span>
      </div>

      <div class="col-sm-6">
        <label><span></span>عنوان الوقف</label>
        <span>{{Cdotation.adresse}}</span>
      </div>

      <div class="col-sm-6">
        <label><span></span>عدد الوحدات</label>
        <span>{{Cdotation.nbunite}}</span>
      </div>

      <div class="col-sm-6">
        <label><span></span>عداد الكهرباء</label>
        <span>{{Cdotation.compteurElec}}</span>
      </div>

      <div class="col-sm-6">
        <label><span></span>عداد الماء</label>
        <span>{{Cdotation.attribut2}}</span>
      </div>

      <div class="col-sm-6">
        <label><span></span>محصل الوقف</label>
        <span>{{Cdotation.comptable}}</span>
      </div>

      <div class="col-sm-6">
        <label><span></span> مكتب الوقف</label>
        <span>{{AgencyName}}</span>
      </div>

    </div>

  </section>
</div>
