<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <header>
        <h2 class="task-head">تفاصيل المهمة</h2>
        <a href="#" class="btn print-btn"><i class="fa fa-print fa-2x"></i></a>
      </header>
      <div class="task-details">
        <div class="container">
          <div class="task-info d-flex flex-wrap">
            <div class="flex-fill">
              <ul class="d-flex list-unstyled">
                <li class="flex-fill item-logo">
                  <img src="assets/images/artboard.png" width="35" alt="image">
                </li>
                <li class="flex-fill item-text">
                  <p>رقم المهمة</p>
                  <span class="num-task">96</span>
                </li>
              </ul>
            </div>
            <div class="flex-fill">
              <ul class="d-flex list-unstyled">
                <li class="flex-fill item-logo">
                  <i class="fa fa-pen-nib fa-2x"></i>
                </li>
                <li class="flex-fill item-text">
                  <p>محرر المهمة</p>
                  <span>عبد العزيز الشهري</span>
                </li>
              </ul>
            </div>
            <div class="flex-fill">
              <ul class="d-flex list-unstyled">
                <li class="flex-fill item-logo">
                  <i class="fa fa-user-tie fa-2x"></i>
                </li>
                <li class="flex-fill item-text">
                  <p> المسند إليه</p>
                  <span>عبد العزيز الشهري</span>
                </li>
              </ul>
            </div>
            <div class="flex-fill">
              <ul class="d-flex list-unstyled">
                <li class="flex-fill item-logo">
                  <i class="fa fa-clock fa-2x"></i>
                </li>
                <li class="flex-fill item-text">
                  <p>الحالة</p>
                  <span>منجزة</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">رقم المهمة</th>
                  <th scope="col">اسم المهمة</th>
                  <th scope="col">نوع المهمة</th>
                  <th scope="col">أولوية</th>
                  <th scope="col">تاريخ البداية</th>
                  <th scope="col">تاريخ النهاية</th>
                  <th scope="col">مهمة تابعة</th>
                  <th scope="col">وصف المهمة</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">96</th>
                  <td>حجز على العالي</td>
                  <td>هندسة</td>
                  <td>عاجل</td>
                  <td>20/1/2020</td>
                  <td>5/2/2020</td>
                  <td>لا يوجد</td>
                  <td><span class="show-details">اظهار التفاصيل</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="task-details-box mb-3">
            <h5 class="head">حجز على العالي</h5>
            <p class="text-danger"> مراحل المهمة <span><i class="fa fa-chevron-down"></i></span></p>
            <ul>
              <li>
                <span class="name">جابر دوشي</span>
                <span class="date">منذ يوم واحد</span>
                <p>
                  تم الانشاء <span>
                    <i class="fa fa-edit
"></i>
                  </span>
                </p>
              </li>
              <li>
                <span class="name">جابر دوشي</span>
                <span class="date">منذ يوم واحد</span>
                <p>
                  مكتملة<span>
                    <i class="fa fa-edit
"></i>
                  </span>
                </p>
              </li>
              <li>
                <span class="name">جابر دوشي</span>
                <span class="date">منذ يوم واحد</span>
                <p>
                  تم اعادة الفتح <span>
                    <i class="fa fa-edit
"></i>
                  </span>
                </p>
              </li>
            </ul>
            <a href="#">اضف تعليق</a>
          </div>
          <div class="col-12 text-center">
            <a href="#" class="btn complete-btn mb-3" style="background: #072">
              <i class="fa fa-check"></i>
              تم التقييم
            </a>

            <div class="stars">
              <span class="star"><i class="far fa-star fa-lg"></i></span>
              <span class="star"><i class="fa fa-star fa-lg"></i></span>
              <span class="star"><i class="fa fa-star fa-lg"></i></span>
              <span class="star"><i class="fa fa-star fa-lg"></i></span>
              <span class="star"><i class="fa fa-star fa-lg"></i></span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
