<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <!-- Second Navbar -->
      <nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
        <a [routerLink]="['/main-tasks']" href="" class="p-2 flex-fill bd-highlight active">
          <span><i class="fa fa-home"></i></span>
          الرئيسية
        </a>
        <a [routerLink]="['/new-task']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-calendar-plus"></i></span>
          إضافة مهمة
        </a>
        <a [routerLink]="['/tasks-list-received']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-tasks"></i></span>
          المهام الواردة
        </a>
        <a [routerLink]="['/tasks-list-delayed']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-clock"></i></span>
          المهام المتأخرة
        </a>
        <a href="" [routerLink]="['/tasks-reports']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-file-pdf"></i></span>
          تقارير المهام المرسلة
        </a>
        <a href="" [routerLink]="['/tasks-reports-received']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-file"></i></span>
          تقارير المهام الواردة
        </a>
        <!--<a href="" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-user-cog"></i></span>
    مدير النظام
  </a>-->
      </nav>
      <!-- Tasks Page Content -->
      <section class="page-content">
        <!-- Navbar 3-->
        <div class="d-flex flex-wrap p-2 bd-highlight nav-2">
          <div class="p-2 flex-fill bd-highlight item">
            <div class="sympol">
              <span><i class="fa fa-pencil-alt"></i></span>
            </div>
            <div class="text">
              <p>عدد المهمات التي أنشئت</p>
              <span>{{nbTacheCreated}}</span>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight item">
            <div class="sympol">
              <span><i class="fa fa-clipboard-check"></i></span>
            </div>
            <div class="text">
              <p>عدد المهمات المنهية</p>
              <span>{{nbTacheDone}}</span>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight item">
            <div class="sympol">
              <span><i class="fa fa-stopwatch"></i></span>
            </div>
            <div class="text">
              <p>عدد المهمات المتأخرة</p>
              <span>{{nbTacheDelayed}}</span>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight item">
            <div class="sympol">
              <span><i class="fa fa-clipboard-list"></i></span>
            </div>
            <div class="text">
              <p>عدد المهمات الواردة الآن</p>
              <span>{{nbTacheReceived}}</span>
            </div>
          </div>
        </div>
        <!-- Nav 4 -->
        <div class="nav-3">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="box text-right">
                  <h6 class="text-primary">عدد المهمات المسندة</h6>
                  <ul class="d-flex flex-wrap">
                    <li class="flex-fill">
                      <p>اليوم</p>
                      <span>{{nbday}}</span>
                    </li>
                    <li class="flex-fill">
                      <p>هذا الاسبوع</p>
                      <span>{{nbweek}}</span>
                    </li>
                    <li class="flex-fill">
                      <p>هذا الشهر</p>
                      <span>{{nbmonth}}</span>
                    </li>
                  </ul>
                  
                  <a href=""  [routerLink]="['/tasks-list-received']" class="text-primary">تصفح المهمات المسندة</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box text-right">
                  <h6 class="text-success">عدد المهمات المنتهية</h6>
                  <ul class="d-flex flex-wrap">
                    <li class="flex-fill">
                      <p>اليوم</p>
                      <span>{{nbdayd}}</span>
                    </li>
                    <li class="flex-fill">
                      <p>هذا الاسبوع</p>
                      <span>{{nbweekd}}</span>
                    </li>
                    <li class="flex-fill">
                      <p>هذا الشهر</p>
                      <span>{{nbmonthd}}</span>
                    </li>
                  </ul>
                  
                  <a href="" [routerLink]="['/tasks-list-done']" class="text-success">تصفح المهمات المنتهية</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box text-right">
                  <h6 class="text-danger">عدد المهمات المتأخرة</h6>
                  <ul class="d-flex flex-wrap">
                    <li class="flex-fill">
                      <p>اليوم</p>
                      <span>{{today}}</span>
                    </li>
                    <li class="flex-fill">
                      <p>دائما</p>
                      <span>{{always}}</span>
                    </li>
                  </ul>
                
                  <a href="" [routerLink]="['/tasks-list-delayed']" class="text-danger">تصفح المهام المتأخرة</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Charts -->
        <div class="charts">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="chart text-center py-4 px-3">
                  <h6>مقارنة بين المهمات التي أنشئت والتي تم إنهاؤها</h6>
                  <canvas id="canvas"></canvas>
                </div>
              </div>
              <div class="col-md-6">
                <div class="chart text-center py-4 px-3">
                  <h6>المهمات التي تم إنجازها لهذا العام</h6>
                  <canvas id="chart2"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div><!-- End col-9 -->
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
