<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9 col-sm-8">
      <header>
        <h3 class="task-head">قائمة الموظفين</h3>
      </header>


      <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="ما الذي تبحث عنه ؟" name="search" [(ngModel)]="filter">
      </div>
      <span class="counter pull-right"></span>
      <table class="table results">
        <thead>
          <tr>
            <th scope="col">اسم الموظف</th>
            <th scope="col">اسم المستخدم</th>
            <th scope="col">اسم المدير</th>
            <th scope="col">البريد الالكتروني</th>
            <th scope="col">الجوال</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-exclamation-triangle"></i> لا يوجد نتائج</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUser | async| orderBy: key : reverse | filter:filter| paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{user.fullName}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.statut}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td><a class="btn btn-success" (click)="populateForm(user)" [routerLink]="['/user-updating', user.id]"><i class="fa fa-edit"></i>تعديل</a></td>
            <td><a (click)="deleteUser(user.id)" class="btn btn-danger"><i class="fa fa-trash"></i>حذف</a></td>
          </tr>

        </tbody>
      </table>

      <a [routerLink]="['/user-registration']">إضافة موظف جديد <i class="fa fa-user-plus"></i></a>
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </nav>

    </div><!-- End col-9 -->
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
