
  <div class="side-menu" id="parent">
    <!-- card 1 -->
    <div>
      <h5 id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span><i class="fa fa-tasks"></i></span>
        إدارة المهام
        <span class="arrow"><i class="fa fa-chevron-left"></i></span>
      </h5>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#parent">
        <a [routerLink]="['/main-tasks']">صفحة ادارة المهام</a>
        <!--! <a [routerLink]="['/new-task']">إضافة مهمة</a>-->
        <a [routerLink]="['/new-task']" *ngIf="privtest">إضافة مهمة</a>
        <a [routerLink]="['/tasks-list']">قائمة المهام</a>
        <a [routerLink]="['/tasks-list-received']">المهام  المسندة</a>
        <a [routerLink]="['/tasks-list-created']">المهام المنشأة</a>
        <a [routerLink]="['/tasks-list-done']">المهام  المنتهية</a>
        <a [routerLink]="['/tasks-list-delayed']">المهام المتأخرة</a>
      </div>
    </div>
    <!-- card 2 -->
    <div>
      <h5 id="headingTwo" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span><i class="fa fa-mail-bulk"></i></span>
        المراسلات
        <span class="arrow"><i class="fa fa-chevron-left"></i></span>
      </h5>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#parent">
        <a>الخطابات</a>
        <a>الصادر</a>
        <a>الوارد</a>
      </div>
    </div>
    <!-- card 3 -->
    <div>
      <h5 id="headingThree" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <span><i class="fa fa-users"></i></span> الموظفين
        <span class="arrow"><i class="fa fa-chevron-left"></i></span>
      </h5>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#parent">
        <a [routerLink]="['/users-list']"> قائمة الموظفين </a>
        <a [routerLink]="['/user-registration']">إضافة موظف </a>
      </div>
    </div>
    <!-- card 4 -->
    <div>
      <h5 id="headingFour" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <span><i class="fa fa-clipboard-list"></i></span> الفعاليات
        <span class="arrow"><i class="fa fa-chevron-left"></i></span>
      </h5>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#parent">

      </div>
    </div>
    <!-- card 5 -->
    <div>
      <h5  id="headingFive" class="collapsed"  data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <span><i class="fa fa-wrench"></i></span>
        إدارة النظام
        <span class="arrow"><i class="fa fa-chevron-left"></i></span>
      </h5>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#parent">

        <a [routerLink]="['/administration-list']">قائمة الإدارات </a>
        <a [routerLink]="['/new-administration']">إضافة إدارة </a>
        <a [routerLink]="['/etablissement-list']">قائمة  الأقسام</a>
        <a [routerLink]="['/new-etablissement']">إضافة قسم</a>
        <a [routerLink]="['/typedotation']">إدارة الأوقاف</a>
        <a [routerLink]="['/organisme']">إدارة المعاملات</a>
  

      </div>
    </div>
  </div>
