<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <!-- Second Navbar -->
      <nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
        <a [routerLink]="['/main-tasks']" href="" class="p-2 flex-fill bd-highlight active">
          <span><i class="fa fa-home"></i></span>
          الرئيسية
        </a>
        <a [routerLink]="['/new-task']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-calendar-plus"></i></span>
          إضافة مهمة
        </a>
        <a [routerLink]="['/tasks-list-received']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-tasks"></i></span>
          المهام الواردة
        </a>
        <a [routerLink]="['/tasks-list-delayed']" href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-clock"></i></span>
          المهام المتأخرة
        </a>
        <a href="" [routerLink]="['/tasks-reports']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-file-text"></i></span>
          تقارير المهام المرسلة
        </a>
        <a href="" [routerLink]="['/tasks-reports-received']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-file"></i></span>
          تقارير المهام الواردة
        </a>
        <!--<a href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-user-cog"></i></span>
          مدير النظام
        </a>-->
      </nav>
      <h4 class="my-2 task-head">مهمة جديدة</h4>
      <form class="task-form form-row" #form="ngForm" autocomplete="off" (submit)="onSubmit()">

        <div class="col-sm-6">
          <label><span><i class="fa fa-sort-numeric-down"></i></span>رقم المهمة</label>
          <span class="task-num">{{tacheId}}</span>
        </div>
        <div class="col-sm-6">
          <label for="date"><span><i class="fa fa-calendar-alt"></i></span>التاريخ </label>
          <input type="date" id="date" name="date" #date="ngModel" [(ngModel)]="tache.date" required (change)="testdate($event)">
        </div>

        <div class="col-sm-6">
          <label for="sort"><span><i class="fa fa-list-ol"></i></span>الاولوية</label>
          <select id="sort" name="priorite" #priorite="ngModel" [(ngModel)]="tache.priorite" required>
            <option [ngValue]="undefined" selected disabled>-الاولوية-</option>
            <option value="عالية">عالية</option>
            <option value="متوسطة">متوسطة</option>
            <option value="منخفضة">منخفضة</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label for="task"><span><i class="fa fa-calendar-check"></i></span>المهمة</label>
          <input type="text" id="task" class="t" name="tacheNom" #tacheNom="ngModel" [(ngModel)]="tache.tacheNom" required (change)="testnom($event)">
        </div>
        <div class="col-12">
          <label for="task-details"><span><i class="fa fa-list"></i></span>وصف المهمة</label>
          <input type="text" id="task-details" name="description" #description="ngModel" [(ngModel)]="tache.description">
        </div>
        <div class="col-sm-4">
          <label for="days"><span><i class="fa fa-calendar-day"></i></span>المدة باليوم</label>
          <input type="text" id="days" name="delai" #delai="ngModel" [(ngModel)]="tache.delai" required>
        </div>
        <div class="col-sm-8">
          <label for="user"><span><i class="fa fa-user"></i></span>المسند إليه</label>
          <select id="user" class="" name="atous" #atous="ngModel" [(ngModel)]="tache.atous" (change)="selectInput($event)" required>
            <option [ngValue]="undefined" selected disabled>-المسند إليه-</option>
            <option value="all">الجميع</option>
            <option value="employee">موظف</option>
          </select>

          <select name="affectedName" #affectedName="ngModel" [(ngModel)]="tache.affectedName" *ngIf="isEmployeeSelected" (change)="selectInput2($event)" required>
            <option [ngValue]="undefined" selected disabled>-الموظف-</option>
            <ng-container *ngFor="let item of UsersList">

              <option value="{{item.id}}" *ngIf="UserIdConnected!=item.id">{{item.fullName}}</option>
            </ng-container>
          </select>

        </div>

        <div class="save">
          <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal"><span><i class="fa fa-save"></i></span> حفظ</button>
          <button type="reset" class="btn btn-danger"><span><i class="fa fa-trash-restore"></i></span> حذف الحقول</button>
        </div>
      </form>
      <form class="task-form form-row">
        <div class="col-sm-8">
          <label for="files" class="files-label"><span><i class="fa fa-paperclip"></i></span>المرفقات <span><i class="fa fa-file-upload"></i></span></label>
          <input type="file" id="files" class="" (change)="upload($event)" #inputFile>
          <hr>


          <ul *ngFor="let pd of serviceupload.list;">
            <li *ngIf="tacheId == pd.idTache">
              <a *ngIf="tacheId == pd.idTache" (click)="onDelete(pd.id)" class="aaa"><i class="fa fa-trash"></i>  </a>
              <a>
                {{pd.path}}

              </a>
            </li>
          </ul>
        </div>
      </form>

    </div><!-- End col-9 -->
  </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade bd-example-modal-lg" role="dialog" style="direction:ltr" *ngIf="testchamp">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title">بيانات المهمة</h4>

      </div>
      <div class="modal-body" style="direction:rtl; text-align:right">

        <div class="col-sm-6">
          <label class="task-det"><span><i class="fa fa-sort-numeric-down"></i></span>رقم المهمة</label>
          <span class="task-num"> &nbsp; &nbsp;{{CreatedTache.id}}</span>
        </div>

    
        <div class="col-sm-6">
          <label class="task-det"><span><i class="fa fa-tasks"></i></span>&nbsp;   المهمة&nbsp;</label>
          <span>&nbsp; &nbsp; {{CreatedTache.tacheNom}}</span>
        </div>

        <div class="col-sm-6">
          <label class="task-det"><span><i class="fa fa-user"></i></span>&nbsp;المسند إليه&nbsp;</label>
          <span>&nbsp; &nbsp; {{CreatedTache.createur}}</span>
        </div>

        <div class="col-sm-6">

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>

