<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <!-- Second Navbar -->
      <nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
        <a [routerLink]="['/main-tasks']" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-home"></i></span>
          الرئيسية
        </a>
        <a [routerLink]="['/new-task']" class="p-2 flex-fill bd-highlight active">
          <span><i class="fa fa-calendar-plus"></i></span>
          إضافة مهمة
        </a>
        <a href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-tasks"></i></span>
          المهام الواردة
        </a>
        <a href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-clock"></i></span>
          المهام المتأخرة
        </a>
        <a href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-user-tie"></i></span>
          الموظفين
        </a>
        <a href="" class="p-2 flex-fill bd-highlight">
          <span><i class="fa fa-user-cog"></i></span>
          مدير النظام
        </a>
      </nav>
      <h4 class="my-2 task-head">مهمة جديدة</h4>
      <form class="task-form form-row" #form="ngForm" autocomplete="off" (submit)="onSubmit()">

        <div class="col-sm-6">
          <label><span><i class="fa fa-sort-numeric-down"></i></span>رقم المهمة</label>
          <span class="task-num">{{tacheId}}</span>
        </div>
        <div class="col-sm-6">
          <label for="date"><span><i class="fa fa-calendar-alt"></i></span>التاريخ </label>
          <input type="date" id="date" name="date" #date="ngModel" [(ngModel)]="tache.date">
        </div>

        <div class="col-sm-6">
          <label for="sort"><span><i class="fa fa-list-ol"></i></span>الاولوية</label>
          <select id="sort" name="Priorite" #Priorite="ngModel" [(ngModel)]="tache.Priorite">
            <option [ngValue]="undefined" selected disabled>-الاولوية-</option>
            <option value="عالية">عالية</option>
            <option value="متوسطة">متوسطة</option>
            <option value="منخفضة">منخفضة</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label for="task"><span><i class="fa fa-calendar-check"></i></span>المهمة</label>
          <input type="text" id="task" class="t" name="TacheNom" #TacheNom="ngModel" [(ngModel)]="tache.TacheNom">
        </div>
        <div class="col-12">
          <label for="task-details"><span><i class="fa fa-list"></i></span>وصف المهمة</label>
          <input type="text" id="task-details" name="Description" #Description="ngModel" [(ngModel)]="tache.Description">
        </div>
        <div class="col-sm-4">
          <label for="days"><span><i class="fa fa-calendar-day"></i></span>المدة باليوم</label>
          <input type="text" id="days" name="Delai" #Delai="ngModel" [(ngModel)]="tache.Delai">
        </div>
        <div class="col-sm-8">
          <label for="user"><span><i class="fa fa-user"></i></span>المسند إليه</label>
          <select id="user" class="" name="Atous" #Atous="ngModel" [(ngModel)]="tache.Atous" (change)="selectInput($event)">
            <option [ngValue]="undefined" selected disabled>-المسند إليه-</option>
            <option value="all">الجميع</option>
            <option value="employee">موظف</option>
          </select>

          <select name="AffectedName" #AffectedName="ngModel" [(ngModel)]="tache.AffectedName" *ngIf="isEmployeeSelected" (change)="selectInput2($event)">
            <option [ngValue]="undefined" selected disabled>-الموظف-</option>
            <option *ngFor="let item of UsersList" value="{{item.id}}">{{item.fullName}}</option>
          </select>

        </div>

        <div class="save">
          <button type="submit" class="btn btn-success"><span><i class="fa fa-save"></i></span> حفظ</button>

        </div>
       
      </form>
        <form class="task-form form-row">
          <div class="col-sm-12">
            <label for="files" class="files-label">
              <ul class="d-flex list-unstyled">
                <li class="upload-symbol">
                  <i class="fa fa-cloud-upload-alt fa-3x"></i>
                </li>
                <li class="flex-fill">
                  <p>اسحب الملفات هنا</p>
                  <a (click)="inputFile.click()"> <span>أو انقر للاختيار يدويا</span></a>
                </li>
              </ul>
            </label>
            <input type="file" id="files" class="" (change)="upload($event)" #inputFile>
        

            <h2>File List</h2>
            <p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
            <label class="error" [hidden]="!showDownloadError">ci sono stati errori durante il download</label>
            <label class="error" [hidden]="!showUploadError">ci sono stati errori durante l'upload</label>
            <hr>
            <div class="container">
              <ul>
                <li *ngFor="let file of files">
                  <a>
                    {{file}}
                   
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </form>

</div><!-- End col-9 -->
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
