<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">
      <div class="boxes">
        <div class="row">
          <div class="col-md">
            <div class="box mails">
              <h4>المراسلات </h4>
              <div class="row">
                <div class="col text-center px-2 py-3">
                  <a [routerLink]="['/main-page-ac']" class="txt">الرئيسية</a>
                </div>
                <div class="col text-center px-2 py-3">
                  <span class="sympol"><i class="fa fa-mail-bulk fa-3x"></i></span>
                </div>
              </div>
            </div>
            <div class="box inbox">
              <h4>الوارد</h4>
              <div class="row">
                <div class="col">
                  <div class="txt  text-right px-2 py-3">
                    <ul>
                      <li><a [routerLink]="['/enregistrer-tr-recue']">تسجيل وارد عام  </a></li>
                      <li><a [routerLink]="['/my-liste-tr']"> المعاملات الواردة </a></li>
                      <li><a [routerLink]="['/transactions-rlist']"> صندوق الوراد </a></li>
                 
                    </ul>
                  </div>
                </div>
                <div class="col text-center px-2 py-4">
                  <span class="sympol"><i class="fa fa-envelope-open-text fa-3x"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="box outgoing">
              <h4>الصادر</h4>
              <div class="row">
                <div class="col-7">
                  <div class="txt  text-right px-2 py-3">
                    <ul>
                      <li>أرشيف الخطابات الصادرة</li>
                      <li>سجل الصادر</li>
                    </ul>
                  </div>
                </div>
                <div class="col-5">
                  <div class="text-center px-2 py-2 mt-2">
                    <span class="sympol"><i class="fa fa-reply-all fa-3x"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box forms">
              <h4>التقارير</h4>
              <div class="row">
                <div class="col ">
                  <div class=" px-2 py-3">
                    <ul>
                      <li> تقارير المعاملات الواردة</li>
                      <li>تقارير المعاملات الصادرة</li>
                      
                    </ul>
                  </div>
                </div>
                <div class="col text-center px-2 py-4">
                  <span class="sympol"><i class="fa fa-table fa-3x"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
