        <!-- Second Navbar -->
<nav class="d-flex p-0 bd-highlight tasks-nav mt-2">
  <a href="" [routerLink]="['/main-page-ac']" class="p-2 flex-fill bd-highlight active">
    <span><i class="fa fa-home"></i></span>
    الرئيسية
  </a>
  <a href="" [routerLink]="['/enregistrer-tr-recue']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-calendar-plus"></i></span>
    تسجيل وارد عام
  </a>
  <a href="" [routerLink]="['/enregistrer-tre']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-tasks"></i></span>
    تسجيل صادر عام
  </a>
  <a href="" [routerLink]="['/enregistrer-tri']" class="p-2 flex-fill bd-highlight">
    <span><i class="fa fa-clock"></i></span>
    تسجيل معاملة داخلية
  </a>
  <a href="" [routerLink]="['/enregistrer-tr-recue']" class="p-2 flex-fill bd-highlight box-menu-btn">
    <span><i class="fa fa-box"></i></span>
    الصندوق
  </a>
</nav>

