<app-nav-menu></app-nav-menu>
<!-- Page Content -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <app-side-menu></app-side-menu>
    </div>

    <div class="col-md-9 col-sm-8">

      <h2 class="task-head">قائمة المهام</h2>
      <div class="tabel-cont">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">م</th>
              <th scope="col">عنوان المهمة</th>
              <th scope="col">المحرر</th>
              <th scope="col">الوصف</th>
              <th scope="col">الحالة</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>تجهيز إعلان محاضرة الشيخ محمد شامي</td>
              <td>عبده صديق</td>
              <td>طباعة (20) نسخة ملونة وتختيمها من مكتب الاوقاف</td>
              <td><span class="task-st in-work">تحت الإجراء</span></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>توثيق فعالية</td>
              <td>عبده صديق</td>
              <td>توثيق درس المسلمين الجدد</td>
              <td><span class="task-st done">منجزة</span></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>إرسال تقرير الفنار الختامي</td>
              <td>جابر دوشي</td>
              <td>خطاب تقرير ختامي وتصديقه لوقف الجميح</td>
              <td><span class="task-st not-done">غير منجزة</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">السابق</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">التالي</a></li>
        </ul>
      </nav>
    </div><!-- End col-9 -->
  </div>

</div>
<!-- Footer -->
<footer class="text-center">
  <p>المكتب التعاوني للدعوة والإرشاد وتوعية الجاليات في أبو عريش</p>
</footer>
